<div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header ">
          <h4 class="text-center">Todo's List</h4>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-12">
                <table>
                  <thead>
                    <tr>
                      <th class="col-6">No.</th>
                      <th class="col-6">Title</th>
                      <th class="col-6">Description</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
            Add Todo
        </div>
        <form [formGroup]="todoForm">
        <div class="card-body bg-info">
          <div class="row">
            <div class="col-10">
              <label for="">Title</label>
              <input type="text" name="title" class="form-control"  formControlName="title" id="title">
            </div>
            <div class="col-10 mb-3">
              <label for="">Description</label>
              <input type="textarea" name="desc" class="form-control"  formControlName="desc" id="desc">
            </div>
            <div class="row">
              <div class="col-10 text-center mb-3">
                <button class="btn btn-success" (click)="onAdd()">Add Todo</button>
              </div>
              <div class="col-10 text-center ">
                <button type="reset" class="btn btn-dark">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
</div>