<p>todos-from-signal works!</p>

@for (todo of todoList(); track $index) {


    <div class="mx-auto mb-4 " style="width:28rem;">
        
        <div class="card text-center " >
            <div class="card-header">
                {{todo.title}}
            </div>
            <div class="card-body">
                
                <p class="card-text">{{todo.desc}}</p>
                
                <!-- <button href="#" class="btn btn-danger" (click)="onclick(todo)">{{todo.active == true ? "delete":"show"}}</button> -->
            </div>
            <button type="button" class="btn bg-danger" (click)="deleteTodoformComponent(todo.sno)" >Delete</button>
            <button type="button" class="btn bg-warning" (click)="editTodo(todo.sno)" >Edit</button>
            
        </div>
      </div>
}
