<!-- 

  <div class="my-3">
    <h5>add todo here !!</h5>
    <form (ngSubmit)="onSubmit()" style="width: 25rem;" class="mx-auto" >
        <div class="mb-3" >
          <label for="title" class="form-label">title</label>
          <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" >
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="desc" [(ngModel)]="description" class="form-control" name="title" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

  </div> -->